<div class="container text-center pb-0">
    <div class="row">
        <div class="col-md-6">
            <h3><i class="fa-solid fa-filter-circle-dollar"></i>Pregled dopustov</h3>
            <div class="row">
                <div class="col">
                    <input type="text" id="iskalniNiz" class="form-control d-inline-block rob senca"
                           placeholder="iskalni niz"/>
                </div>
            </div>
            <div>
                <form
                        action="/izpisiRacunBaza"
                        method="post"
                        enctype="multipart/form-data"
                >
                    <div class="form-group">
                        <select
                                size="10"
                                id="seznamRacunov"
                                name="seznamRacunov"
                                class="form-control form-control-sm odmik rob senca"
                        >
                            {{#each seznamRacunov as |racun|}}
                                <option
                                        value="{{racun.InvoiceId}}"
                                        customerId="{{racun.CustomerId}}"
                                        selected
                                >
                                    {{racun.Naziv}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <input
                                type="submit"
                                class="btn btn-secondary btn-sm"
                                value="Podrobnosti izleta"
                        />
                    </div>
                </form>
                <div class="help-block"><small id="skupnaCenaIzleta"></small></div>
            </div>
        </div>
        <div class="col-md-6">
            <h3><i class="fa-regular fa-hand-point-right"></i>Izbira uporabnika</h3>
            <div>
                <select
                        size="13"
                        id="seznamStrank"
                        name="seznamStrank"
                        class="form-control form-control-sm odmik rob senca"
                >
                    {{#each seznamStrank as |stranka|}}
                        <option value="{{stranka.CustomerId}}">
                            {{{stranka.Country}}}
                            |
                            {{stranka.FirstName}}
                            {{stranka.LastName}},
                            {{stranka.Email}}
                            {{#if stranka.Company}}
                                ({{stranka.Company}})
                            {{/if}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <br/>
        </div>

        <div class="col-md-6">
            <h3><i class="fa-solid fa-table"></i>Statistika v tabeli</h3>
            <span>V tabeli je navedena osnovna statistika o destinacijah ter njihovih lastnosti.</span>

            <table>
                <tr id="prvaVrstica">
                    <td id="lastnosti" rowspan="6">Lastnosti</td>
                    <td></td>
                    <td id="destinacije" colspan="3">Destinacije</td>
                </tr>
                <tr id="drugaVrstica">
                    <td class="diagonala"></td>
                    <th>Turistične atrakcije</th>
                    <th>Živalski vrtovi</th>
                    <th>Hostli</th>
                </tr>
                <tr class="ostaleVrstice">
                    <th class="drugiStolpec">Vsi</th>
                    <td>{{ atrakcije.vsi }}</td>
                    <td>{{ zoo.vsi }}</td>
                    <td>{{ hostli.vsi }}</td>
                </tr>
                <tr class="ostaleVrstice">
                    <th class="drugiStolpec">Izven Ljubljane</th>
                    <td>{{ atrakcije.izvenLjubljane }}</td>
                    <td>{{ zoo.izvenLjubljane }}</td>
                    <td>{{ hostli.izvenLjubljane }}</td>
                </tr>
                <tr class="ostaleVrstice">
                    <th class="drugiStolpec">Spletna stran</th>
                    <td>{{ atrakcije.spletnaStran }}</td>
                    <td>{{ zoo.spletnaStran }}</td>
                    <td>{{ hostli.spletnaStran }}</td>
                </tr>
                <tr class="ostaleVrstice">
                    <th class="drugiStolpec">Wikidata</th>
                    <td>{{ atrakcije.wikidata }}</td>
                    <td>{{ zoo.wikidata }}</td>
                    <td>{{ hostli.wikidata }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h3><i class="fa-solid fa-chart-pie"></i>Vizualizacija podatkov</h3>
            <span>V grafu prikažite poljubno vizualizacijo podatkov: podatkovna baza, zunanji vir ali oboje.</span>
            <div id="vsebnikGrafa" style="height: 300px; width: 100%; background-color: lightgray"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="skripte/prijava.js"></script>
